// FONT SIZE

$biggest-font: 3.3rem;
$big-font: 2.5rem;
$medium-font: 1.8rem;
$small-font: 1.3rem;
$smallest-font: 0.9rem;

// COLORS

$main-color: #252934;
$secondary-color: #00827f;
$decorative-color: #e31b6d;
