@import "./_variables";

.contact {
  padding: 6rem 0 2rem;
  background-color: $main-color;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .contact_title {
    font-size: 3.3rem;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 0.5rem;

    &::after {
      content: " ";
      display: block;
      margin: 0.5rem auto;
      width: 150px;
      height: 4px;
      background-color: #fff;
    }
  }

  .contact_secTitle {
    max-width: 1200px;
    text-align: center;
    color: $secondary-color;
    margin: 3rem auto;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .contact_form {
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form_input {
      width: 100%;
      padding: 0.9rem 0.7rem;
      border-radius: 5px;
      border: none;
      margin: 0.1rem 0;
      background-color: #151924;
      color: #fff;
      outline-width: 0;
      font-size: 1rem;
      resize: none;
    }

    .form_buttonSpace {
      width: 100%;
      display: flex;
      justify-content: right;

      .buttonSpace_button {
        all: unset;
        margin-top: 1rem;
        padding: 0.9rem 2.6rem;
        border: 1px solid #fff;
        color: #fff;
        font-size: 1.2rem;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color;
          border-color: $secondary-color;
        }
      }
    }
  }
}
