@import "./_variables";

.portfolio {
  padding: 6rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .portfolio_title {
    text-align: center;
    font-size: $biggest-font;
    padding-bottom: 1rem;
    color: $main-color;

    &::after {
      content: " ";
      display: block;
      margin: 0.5rem auto;
      width: 150px;
      height: 4px;
      background-color: $main-color;
    }
  }

  .portfolio_projects {
    max-width: 1400px;

    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects_categoriesSpace {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .categoriesSpace_category {
        margin: 0 1rem;
        padding: 10px 1vw;
        cursor: pointer;
        font-size: $small-font;
        // transition: all 0.3s ease;
        position: relative;
        display: inline-block;

        &::after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          bottom: 0;
          display: block;
          height: 3px;
          left: 50%;
          position: absolute;
          background-color: $decorative-color;
          width: 0;
          transition: width 0.3s ease, left 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }

        @media screen and (max-width: 600px) {
          margin: 0 0.5rem;
          font-size: $smallest-font;
        }
      }

      .categoriesSpace_category-active::after {
        width: 100%;
        left: 0;
      }
    }

    .projects_linksSpace {
      display: flex;
      margin: 2rem 0;
      gap: 0;
      min-height: 755px;
      flex-wrap: wrap;

      .linksSpace_link {
        position: relative;
        max-height: 251.52px;

        @media screen and (min-width: 600px) {
          width: 50%;
        }

        @media screen and (min-width: 992px) {
          width: calc(100% / 3);
        }

        &:hover .link_image {
          opacity: 0.4;
        }

        &:hover .link_photoLink {
          opacity: 1;
        }

        .link_image {
          width: 100%;
          height: 100%;
          transition: all 0.3s ease;
        }
        .link_photoLink {
          text-decoration: none;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          border: 1px solid $decorative-color;
          padding: 0.9rem 2.6rem;
          font-size: $small-font;
          transition: all 0.3s ease;

          &:hover {
            background-color: $decorative-color;
            color: #fff;
          }
        }
      }
    }
  }
}
