@import "./_variables";

.portfolio {
  padding: 6rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .portfolio_title {
    text-align: center;
    font-size: $biggest-font;
    padding-bottom: 1rem;
    color: $main-color;

    &::after {
      content: " ";
      display: block;
      margin: 0.5rem auto;
      width: 150px;
      height: 4px;
      background-color: $main-color;
    }
  }

  .portfolio_projects {
    max-width: 1400px;

    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects_categoriesSpace {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .categoriesSpace_category {
        margin: 0 3rem;
        cursor: pointer;
        font-size: $small-font;
        transition: all 0.3s ease;
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%) scaleX(0);
          transform-origin: 50% 50%;
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.8);
          transition: transform 250ms;
        }

        @media screen and (max-width: 600px) {
          margin: 0 0.5rem;
          font-size: $smallest-font;
        }
      }

      /// add animation on activated category

      .categoriesSpace_category-active {
        background-color: blue;
      }

      .categoriesSpace_category-active::after {
        transform: translateX(-50%) scaleX(1);
      }

      //////////
    }

    .projects_linksSpace {
      display: grid;
      margin: 2rem 0;
      gap: 0;
      grid-template-columns: repeat(1, minmax(100%, 1fr));
      @media screen and (min-width: 600px) {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
      }
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, minmax(calc(100% / 3), 1fr));
      }
      .linksSpace_link {
        position: relative;

        &:hover .link_image {
          opacity: 0.4;
        }
        &:hover .link_photoLink {
          opacity: 1;
        }
        .link_image {
          width: 100%;
          height: 100%;
          transition: all 0.3s ease;
        }
        .link_photoLink {
          text-decoration: none;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          border: 1px solid $decorative-color;
          padding: 0.9rem 2.6rem;
          font-size: $small-font;
          transition: all 0.3s ease;

          &:hover {
            background-color: $decorative-color;
            color: #fff;
          }
        }
      }
    }
  }
}
